# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
api-server
/worker

# Test
*.test
*.out
coverage.html

# Dependencies
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Build
/bin/
/dist/
